header{
  width: 100vw;
}
  .login-page {
    width: 100%;
    padding: 8% 0 0;
    margin: auto;
  }
 
  .login-page .form .login{
    margin-top: -31px;
  margin-bottom: 26px;
  }
 
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background-color: #b1a296;
    background-image: linear-gradient(45deg,#5d5c61,#b1a296);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  
  .form .message a {
    color: #5d5c61;
    text-decoration: none;
  }
  .login-form p span{
    font-size: 15px;
    border:5px;
    color : rgb(125, 31, 31);
  }
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  
  body {
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#b1a296,#5d5c61);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width:96vw;
    height:96vh;
  }
.homehead a{
    position: relative;
    font-size: 1.2em;
    font-weight: 600;
    margin-left: 0px;
    text-decoration: none;
    color: #ff0000;
    font-weight: 700;
}

.homehead a:after{
    content: ' ';
    position: absolute;
    background-color: #ff0000;
    border: 2px solid rgb(255, 0, 0);
    width: 100%;
    height: 1px;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 6px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: .3s;
}
.homehead a:hover::after{
    transform: scaleX(1);
}